USE [master]
GO
/****** Object:  Database [flowers]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE DATABASE [flowers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'flowers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\flowers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'flowers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\flowers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [flowers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [flowers]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[Address_Numder_Appartment] [varchar](50) NULL,
	[Address_Number_Street] [varchar](50) NULL,
	[Address_Name_Street] [varchar](50) NULL,
	[Address_City] [varchar](20) NULL,
	[Address_ZIPCODE] [varchar](7) NULL,
	[Address_State] [varchar](20) NULL,
	[Address_Country] [varchar](20) NULL,
	[Address_line1] [varchar](50) NULL,
	[Address_line2] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bouquet]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bouquet](
	[Bouquet_ID] [int] NOT NULL,
	[Bouquet_Name] [varchar](50) NULL,
	[Bouquet_Price_S] [decimal](4, 2) NULL,
	[Bouquet_Price_M] [decimal](4, 2) NULL,
	[Bouquet_Price_L] [decimal](4, 2) NULL,
	[Bouquet_Size] [char](1) NULL,
	[Bouquet_Pictures] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cust2]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cust2](
	[Cust_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address_ID] [int] NULL,
 CONSTRAINT [PK_Cust2] PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Cust_ID] [int] NOT NULL,
	[Cust_Fname] [varchar](20) NOT NULL,
	[Cust_Lname] [varchar](50) NOT NULL,
	[Cust_Midname] [varchar](50) NULL,
	[Cust_Email] [varchar](50) NOT NULL,
	[Cust_Login] [varchar](20) NOT NULL,
	[Cust_Sex] [char](1) NOT NULL,
	[Cust_Password] [varchar](10) NOT NULL,
	[Cust_Phone] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Driver_ID] [int] NOT NULL,
	[Driver_DLicence] [varchar](10) NOT NULL,
	[Driver_Fname] [varchar](20) NOT NULL,
	[Driver_Lname] [varchar](25) NOT NULL,
	[Driver_Adress] [varchar](50) NULL,
	[Driver_Phone] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flo_Order]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flo_Order](
	[Order_ID] [int] NOT NULL,
	[Bouquet_ID] [int] NOT NULL,
	[Florist_ID] [int] NOT NULL,
	[Cust_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Order_Date] [datetime] NULL,
	[Bouquet_Quontity] [numeric](2, 0) NULL,
	[Date_a206yuriyed] [datetime] NULL,
	[Order_Status] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Florist]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Florist](
	[Florist_ID] [int] NOT NULL,
	[Frorist_Fname] [varchar](20) NOT NULL,
	[Frorist_Lname] [varchar](25) NOT NULL,
	[Frorist_Address] [varchar](50) NULL,
	[Frorist_Phone] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name_Group] [varchar](50) NOT NULL,
	[isEnable] [bit] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Invoice_Total] [decimal](5, 0) NULL,
	[DateOfIssue] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Del]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Del](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Bouquet_ID] [int] NOT NULL,
	[Florist_ID] [int] NOT NULL,
	[Cust_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Order_Date] [datetime] NULL,
	[Bouquet_Quontity] [numeric](18, 0) NULL,
	[Date_Delived] [datetime] NULL,
	[Order_Status] [varchar](50) NULL,
	[Total_Price] [decimal](18, 2) NULL,
	[Size_Bouquets] [char](1) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Methods]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Methods](
	[PM_ID] [int] NOT NULL,
	[Cust_ID] [int] NOT NULL,
	[card_number] [numeric](16, 0) NOT NULL,
	[date_from] [datetime] NOT NULL,
	[CVV] [numeric](3, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promedic]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promedic](
	[id] [int] NOT NULL,
	[FName] [varchar](50) NULL,
	[LName] [varchar](50) NULL,
 CONSTRAINT [PK_Promedic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistic]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistic](
	[Stat_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Sold] [int] NULL,
	[Return] [int] NULL,
	[Investigation] [int] NULL,
	[Stat_Date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] NOT NULL,
	[User_Name] [nchar](10) NULL,
	[User_Pass] [nchar](10) NULL,
	[User_Status] [bit] NULL,
	[User_of_Group] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 7/1/2019 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Warehouse_ID] [int] NOT NULL,
	[Florist_ID] [int] NOT NULL,
	[Warehouse_Name] [varchar](20) NULL,
	[Warehouse_City] [varchar](20) NULL,
	[Warehouse_Address] [varchar](20) NULL,
	[Warehouse_Phone] [numeric](10, 0) NULL,
	[Warehouse_Email] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_ID], [Address_Numder_Appartment], [Address_Number_Street], [Address_Name_Street], [Address_City], [Address_ZIPCODE], [Address_State], [Address_Country], [Address_line1], [Address_line2]) VALUES (1, N'sdf', N'sdf', N'sdf', N'Gatineau', N'sdf', N'QC', N'Canada', NULL, NULL)
INSERT [dbo].[Address] ([Address_ID], [Address_Numder_Appartment], [Address_Number_Street], [Address_Name_Street], [Address_City], [Address_ZIPCODE], [Address_State], [Address_Country], [Address_line1], [Address_line2]) VALUES (112, N'777', N'8888', N'dsfsdf', N'Ottawa', N'J9A 1M7', N'ON', N'Canada', NULL, NULL)
INSERT [dbo].[Address] ([Address_ID], [Address_Numder_Appartment], [Address_Number_Street], [Address_Name_Street], [Address_City], [Address_ZIPCODE], [Address_State], [Address_Country], [Address_line1], [Address_line2]) VALUES (113, N'777', N'8888', N'dsfsdf', N'Ottawa', N'J9A 1M7', N'ON', N'Canada', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Cust2] ON 

INSERT [dbo].[Cust2] ([Cust_ID], [Fname], [Lname], [Gender], [Email], [Phone], [Address_ID]) VALUES (63, N'Galya', N'Zhukova', N'Mr', N'Email', N'6148769909', 112)
INSERT [dbo].[Cust2] ([Cust_ID], [Fname], [Lname], [Gender], [Email], [Phone], [Address_ID]) VALUES (64, N'Galya', N'Zhukova', N'Mr', N'Email', N'88888888', 112)
INSERT [dbo].[Cust2] ([Cust_ID], [Fname], [Lname], [Gender], [Email], [Phone], [Address_ID]) VALUES (65, N'Alex', N'Io', N'Mrs', N'kjasdf@jdfsd', N'123456789', 115)
SET IDENTITY_INSERT [dbo].[Cust2] OFF
INSERT [dbo].[Driver] ([Driver_ID], [Driver_DLicence], [Driver_Fname], [Driver_Lname], [Driver_Adress], [Driver_Phone]) VALUES (1000, N'rtert', N'Yura', N'Good', N'fsdf', CAST(8787 AS Numeric(10, 0)))
INSERT [dbo].[Driver] ([Driver_ID], [Driver_DLicence], [Driver_Fname], [Driver_Lname], [Driver_Adress], [Driver_Phone]) VALUES (1001, N'Andriy', N'Andrye', N'sfsd', N'eryy', CAST(789 AS Numeric(10, 0)))
INSERT [dbo].[Driver] ([Driver_ID], [Driver_DLicence], [Driver_Fname], [Driver_Lname], [Driver_Adress], [Driver_Phone]) VALUES (1, N'f', N'Unknown', N'g', N'g', CAST(3 AS Numeric(10, 0)))
INSERT [dbo].[Florist] ([Florist_ID], [Frorist_Fname], [Frorist_Lname], [Frorist_Address], [Frorist_Phone]) VALUES (25, N'Nath', N'LOL', N'sdf', CAST(888 AS Numeric(10, 0)))
INSERT [dbo].[Florist] ([Florist_ID], [Frorist_Fname], [Frorist_Lname], [Frorist_Address], [Frorist_Phone]) VALUES (30, N'Yu', N'Zh', N'gh', CAST(88899 AS Numeric(10, 0)))
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([ID], [Name_Group], [isEnable]) VALUES (1, N'Manager', 1)
INSERT [dbo].[Group] ([ID], [Name_Group], [isEnable]) VALUES (2, N'CallCenter', 1)
INSERT [dbo].[Group] ([ID], [Name_Group], [isEnable]) VALUES (3, N'User', 1)
SET IDENTITY_INSERT [dbo].[Group] OFF
SET IDENTITY_INSERT [dbo].[Order_Del] ON 

INSERT [dbo].[Order_Del] ([Order_ID], [Bouquet_ID], [Florist_ID], [Cust_ID], [Driver_ID], [Order_Date], [Bouquet_Quontity], [Date_Delived], [Order_Status], [Total_Price], [Size_Bouquets]) VALUES (32, 1, 25, 82, 1, CAST(N'2019-03-17T06:12:32.437' AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(N'2019-03-17T00:00:00.000' AS DateTime), N'OK', CAST(10.00 AS Decimal(18, 2)), N'S')
INSERT [dbo].[Order_Del] ([Order_ID], [Bouquet_ID], [Florist_ID], [Cust_ID], [Driver_ID], [Order_Date], [Bouquet_Quontity], [Date_Delived], [Order_Status], [Total_Price], [Size_Bouquets]) VALUES (33, 1, 25, 82, 1, CAST(N'2019-03-17T06:17:27.593' AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(N'2019-03-17T00:00:00.000' AS DateTime), N'OK', CAST(10.00 AS Decimal(18, 2)), N'S')
INSERT [dbo].[Order_Del] ([Order_ID], [Bouquet_ID], [Florist_ID], [Cust_ID], [Driver_ID], [Order_Date], [Bouquet_Quontity], [Date_Delived], [Order_Status], [Total_Price], [Size_Bouquets]) VALUES (34, 1, 25, 82, 1, CAST(N'2019-03-17T06:18:44.020' AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(N'2019-03-17T00:00:00.000' AS DateTime), N'OK', CAST(10.00 AS Decimal(18, 2)), N'S')
SET IDENTITY_INSERT [dbo].[Order_Del] OFF
INSERT [dbo].[Users] ([User_ID], [User_Name], [User_Pass], [User_Status], [User_of_Group]) VALUES (1, N'UserC     ', N'123       ', 1, 3)
INSERT [dbo].[Users] ([User_ID], [User_Name], [User_Pass], [User_Status], [User_of_Group]) VALUES (2, N'Yura      ', N'123       ', 1, 2)
INSERT [dbo].[Users] ([User_ID], [User_Name], [User_Pass], [User_Status], [User_of_Group]) VALUES (3, N'OlgaZ     ', N'123       ', 1, 3)
/****** Object:  Index [PK_ADDRESS]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [PK_ADDRESS] PRIMARY KEY NONCLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_BOUQUET]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Bouquet] ADD  CONSTRAINT [PK_BOUQUET] PRIMARY KEY NONCLUSTERED 
(
	[Bouquet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CUSTOMER]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [PK_CUSTOMER] PRIMARY KEY NONCLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DRIVER]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Driver] ADD  CONSTRAINT [PK_DRIVER] PRIMARY KEY NONCLUSTERED 
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FLO_ORDER]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Flo_Order] ADD  CONSTRAINT [PK_FLO_ORDER] PRIMARY KEY NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[Flo_Order]
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[Flo_Order]
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[Flo_Order]
(
	[Bouquet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[Flo_Order]
(
	[Florist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FLORIST]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Florist] ADD  CONSTRAINT [PK_FLORIST] PRIMARY KEY NONCLUSTERED 
(
	[Florist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_INVOICE]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [PK_INVOICE] PRIMARY KEY NONCLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[Invoice]
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PAYMENT_METHODS]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Payment_Methods] ADD  CONSTRAINT [PK_PAYMENT_METHODS] PRIMARY KEY NONCLUSTERED 
(
	[PM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[Payment_Methods]
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STATISTIC]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Statistic] ADD  CONSTRAINT [PK_STATISTIC] PRIMARY KEY NONCLUSTERED 
(
	[Stat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[Statistic]
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_WAREHOUSE]    Script Date: 7/1/2019 11:01:22 PM ******/
ALTER TABLE [dbo].[Warehouse] ADD  CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY NONCLUSTERED 
(
	[Warehouse_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 7/1/2019 11:01:22 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[Warehouse]
(
	[Florist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bouquet] ADD  CONSTRAINT [DF__Bouquet__Bouquet__60A75C0F]  DEFAULT ('M') FOR [Bouquet_Size]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('M') FOR [Cust_Sex]
GO
ALTER TABLE [dbo].[Cust2]  WITH CHECK ADD  CONSTRAINT [FK_Cust2_Address] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Address] ([Address_ID])
GO
ALTER TABLE [dbo].[Cust2] CHECK CONSTRAINT [FK_Cust2_Address]
GO
ALTER TABLE [dbo].[Flo_Order]  WITH CHECK ADD  CONSTRAINT [FK_FLO_ORDE_RELATIONS_BOUQUET] FOREIGN KEY([Bouquet_ID])
REFERENCES [dbo].[Bouquet] ([Bouquet_ID])
GO
ALTER TABLE [dbo].[Flo_Order] CHECK CONSTRAINT [FK_FLO_ORDE_RELATIONS_BOUQUET]
GO
ALTER TABLE [dbo].[Flo_Order]  WITH CHECK ADD  CONSTRAINT [FK_FLO_ORDE_RELATIONS_CUST2] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Cust2] ([Cust_ID])
GO
ALTER TABLE [dbo].[Flo_Order] CHECK CONSTRAINT [FK_FLO_ORDE_RELATIONS_CUST2]
GO
ALTER TABLE [dbo].[Flo_Order]  WITH CHECK ADD  CONSTRAINT [FK_FLO_ORDE_RELATIONS_CUSTOMER] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Customer] ([Cust_ID])
GO
ALTER TABLE [dbo].[Flo_Order] CHECK CONSTRAINT [FK_FLO_ORDE_RELATIONS_CUSTOMER]
GO
ALTER TABLE [dbo].[Flo_Order]  WITH CHECK ADD  CONSTRAINT [FK_FLO_ORDE_RELATIONS_DRIVER] FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Driver] ([Driver_ID])
GO
ALTER TABLE [dbo].[Flo_Order] CHECK CONSTRAINT [FK_FLO_ORDE_RELATIONS_DRIVER]
GO
ALTER TABLE [dbo].[Flo_Order]  WITH CHECK ADD  CONSTRAINT [FK_FLO_ORDE_RELATIONS_FLORIST] FOREIGN KEY([Florist_ID])
REFERENCES [dbo].[Florist] ([Florist_ID])
GO
ALTER TABLE [dbo].[Flo_Order] CHECK CONSTRAINT [FK_FLO_ORDE_RELATIONS_FLORIST]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_RELATIONS_FLO_ORDE] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Flo_Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_INVOICE_RELATIONS_FLO_ORDE]
GO
ALTER TABLE [dbo].[Order_Del]  WITH CHECK ADD  CONSTRAINT [FK_Order_Del_Bouquet] FOREIGN KEY([Bouquet_ID])
REFERENCES [dbo].[Bouquet] ([Bouquet_ID])
GO
ALTER TABLE [dbo].[Order_Del] CHECK CONSTRAINT [FK_Order_Del_Bouquet]
GO
ALTER TABLE [dbo].[Order_Del]  WITH CHECK ADD  CONSTRAINT [FK_Order_Del_Customer] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Cust2] ([Cust_ID])
GO
ALTER TABLE [dbo].[Order_Del] CHECK CONSTRAINT [FK_Order_Del_Customer]
GO
ALTER TABLE [dbo].[Order_Del]  WITH CHECK ADD  CONSTRAINT [FK_Order_Del_Driver] FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Driver] ([Driver_ID])
GO
ALTER TABLE [dbo].[Order_Del] CHECK CONSTRAINT [FK_Order_Del_Driver]
GO
ALTER TABLE [dbo].[Order_Del]  WITH CHECK ADD  CONSTRAINT [FK_Order_Del_Florist] FOREIGN KEY([Florist_ID])
REFERENCES [dbo].[Florist] ([Florist_ID])
GO
ALTER TABLE [dbo].[Order_Del] CHECK CONSTRAINT [FK_Order_Del_Florist]
GO
ALTER TABLE [dbo].[Payment_Methods]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT__RELATIONS_CUSTOMER] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Customer] ([Cust_ID])
GO
ALTER TABLE [dbo].[Payment_Methods] CHECK CONSTRAINT [FK_PAYMENT__RELATIONS_CUSTOMER]
GO
ALTER TABLE [dbo].[Statistic]  WITH CHECK ADD  CONSTRAINT [FK_STATISTI_RELATIONS_FLO_ORDE] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Flo_Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Statistic] CHECK CONSTRAINT [FK_STATISTI_RELATIONS_FLO_ORDE]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Group] FOREIGN KEY([User_of_Group])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Group]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_RELATIONS_FLORIST] FOREIGN KEY([Florist_ID])
REFERENCES [dbo].[Florist] ([Florist_ID])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_WAREHOUS_RELATIONS_FLORIST]
GO
ALTER TABLE [dbo].[Bouquet]  WITH CHECK ADD  CONSTRAINT [CKC_BOUQUET_SIZE_BOUQUET] CHECK  (([Bouquet_Size] IS NULL OR ([Bouquet_Size]='L' OR [Bouquet_Size]='M' OR [Bouquet_Size]='S')))
GO
ALTER TABLE [dbo].[Bouquet] CHECK CONSTRAINT [CKC_BOUQUET_SIZE_BOUQUET]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CKC_CUST_SEX_CUSTOMER] CHECK  ((([Cust_Sex]='F' OR [Cust_Sex]='M') AND [Cust_Sex]=upper([Cust_Sex])))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CKC_CUST_SEX_CUSTOMER]
GO
USE [master]
GO
