


    <div id="SignIn">
        <img src="~/Image/Logo11.png" width="250px" />
        <h1>Please Sign In as:</h1>

        <a href="~/Authorization/Login">
            <img id="log1" src="~/Image/Callcentre.png" width="300px" />
        </a>
        <a href="~/Authorization/Login">
            <img id="log2" src="~/Image/manager.png" width="300px" />
        </a>
        
    </div>
